* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.time-select,
.sound-picker,
.player-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.player-container {
  position: relative;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.time-display {
  position: absolute;
  bottom: 10%;
  color: #424242;
  font-size: 3.2rem;
}

video {
  position: fixed;
  top:0%;
  left: 0%;
  width: 100%;
  z-index: -9;
}

.time-select button,
.sound-picker button {
  color: #424242;
  width: 30%;
  height: 10%;
  background: none;
  border: 5px solid #424242;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: all 0.5s ease;
}

.time-select button:hover {
  color: #EEE;
  background: #424242;;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 30px;
}

.sound-picker button:nth-child(1){
  background: #0D56A6;
}

.sound-picker button:nth-child(2){
  background: #ff9A00;
}

.sound-picker button img {
  height: 100%;
}
